<form action="" id="loginForm">

<label for="">Email</label>
<input type="text" name="email" id="email">

<label for="">Password</label>
<input type="text" name="password" id="password">

<input type="submit" value="send" id="loginButton">

</form>

<div>
    <a href="/registerForm" >Registrate</a>
</div>
<div>
    <a href="/users/GitHub" >Registrate con github</a>
</div>
<script src="/js/login.js"></script>