<div>
    <h3>Nombre: {{user.name}}</h3>
    <h3>lastname: {{user.lastname}}</h3>
    <h3>username: {{user.username}}</h3>
    <h3>Email: {{user.email}}</h3>
</div>


<script src="/js/profile.js"></script>