<form action="" id="registerForm">
    
    <label for="">name</label>
    <input type="text" name="name" id="name">

    <label for="">lastname</label>
    <input type="text" name="lastname" id="lastname">

    <label for="">Email</label>
    <input type="text" name="email" id="email">

    <label for="">Password</label>
    <input type="text" name="password" id="password">

    <input type="submit" value="send" id="loginButton">

</form>

<script src="/js/register.js"></script>